<div
  class="card"
  [style.transform]="reversed ? 'rotateY(180deg)' : 'rotateY(0deg)'">

  <recto
    [cardNumber]="getHiddenCardNumber()"
    [fullName]="fullName"
    [month]="month"
    [year]="year">
    <svg *ngIf="cardNumber.startsWith('4')" width="36" height="36" fill="none" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.668 12.393L8.955 23.637H5.88l-2.319-8.975c-.141-.552-.262-.754-.692-.987-.699-.379-1.854-.735-2.869-.957l.069-.325h4.95a1.356 1.356 0 011.341 1.146l1.225 6.507 3.028-7.653h3.055zm12.05 7.573c.012-2.968-4.105-3.132-4.076-4.458.009-.403.393-.832 1.233-.941a5.49 5.49 0 012.87.503l.51-2.385a7.811 7.811 0 00-2.721-.499c-2.876 0-4.9 1.53-4.918 3.719-.017 1.618 1.445 2.52 2.547 3.06 1.134.55 1.515.904 1.51 1.396-.008.756-.903 1.087-1.74 1.101-1.463.023-2.31-.395-2.988-.71l-.527 2.463c.68.313 1.934.585 3.234.598 3.055 0 5.055-1.51 5.066-3.846zm7.591 3.671H36l-2.347-11.244h-2.484a1.325 1.325 0 00-1.24.825l-4.363 10.419h3.054l.607-1.68h3.732l.35 1.68zm-3.244-3.984l1.53-4.222.882 4.222h-2.412zm-12.24-7.26L15.42 23.637h-2.91l2.408-11.244h2.907z"
        fill="#fff" />
    </svg>
    
    <svg *ngIf="cardNumber.startsWith('5')" width="36" height="36" fill="none" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.015 27.047c.087.073.18.146.271.218a11.087 11.087 0 01-6.16 1.857C4.98 29.124 0 24.145 0 18 0 11.857 4.98 6.876 11.124 6.876c2.277 0 4.396.684 6.158 1.857-.09.077-.18.147-.248.225A11.945 11.945 0 0012.893 18c0 3.466 1.501 6.765 4.122 9.047zm7.861-20.171c-2.28 0-4.396.684-6.158 1.857.09.077.18.147.248.225A11.945 11.945 0 0123.108 18c0 3.465-1.502 6.76-4.123 9.047-.087.073-.18.146-.271.218a11.08 11.08 0 006.16 1.857C31.02 29.124 36 24.145 36 18c0-6.141-4.98-11.124-11.124-11.124zM18 9.261A11.082 11.082 0 0013.754 18 11.08 11.08 0 0018 26.74 11.085 11.085 0 0022.247 18 11.082 11.082 0 0018 9.261z"
        fill="#fff" />
    </svg>
  </recto>
    
  <verso
    [cardNumber]="getHiddenCardNumber()"
    [fullName]="fullName"
    [month]="month"
    [year]="year"
    [crypto]="crypto"></verso>
</div>
