<style>
  :host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
</style>

<div class="recto">
  <div class="half">
    <div style="display: flex; padding: 0.5rem">
      <div class="big-leaf">
        <div class="medium-leaf">
          <div class="small-leaf"></div>
        </div>
      </div>

      <p class="leaf-bank col">
        <span class="title">LEAF</span>
        <span class="subtitle">bank</span>
      </p>

      <ng-content></ng-content>
    </div>

    <div class="icons">
      <svg width="30" height="21" fill="none" viewBox="0 0 30 21" xmlns="http://www.w3.org/2000/svg" style="margin-left: 0.5rem">
        <rect x="0.5" y="0.5" width="29" height="20" rx="3.5" fill="#E2E8F0" />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.5 4.5V0h1v3.5h9V0h1v5A1.5 1.5 0 0022 6.5h8v1h-8A1.5 1.5 0 0020.5 9v3a1.5 1.5 0 001.5 1.5h8v1h-8a1.5 1.5 0 00-1.5 1.5v5h-1v-3.5h-9V21h-1v-5A1.5 1.5 0 008 14.5H0v-1h8A1.5 1.5 0 009.5 12V9A1.5 1.5 0 008 7.5H0v-1h8A1.5 1.5 0 009.5 5v-.5zm0 2.5c.607.456 1 1.182 1 2v3c0 .818-.393 1.544-1 2 .607.456 1 1.182 1 2v.5h9V16c0-.818.393-1.544 1-2a2.496 2.496 0 01-1-2V9c0-.818.393-1.544 1-2a2.496 2.496 0 01-1-2v-.5h-9V5c0 .818-.393 1.544-1 2z"
          fill="#0F172A" />
        <rect x="0.5" y="0.5" width="29" height="20" rx="3.5" stroke="#0F172A" />
      </svg>
      
      <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="margin-left: 0.5rem">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.041 23.942c-.385-.111-.775-.57-.857-1.007-.053-.285.012-.483.42-1.272 1.65-3.193 2.368-6.13 2.368-9.696 0-3.445-.636-6.126-2.212-9.34-.34-.69-.617-1.33-.617-1.423 0-.342.287-.837.597-1.032.425-.267 1.137-.217 1.477.103.131.123.47.681.757 1.24a23.614 23.614 0 012.283 7.18c.236 1.566.284 4.534.094 5.968-.348 2.645-1.046 5.004-2.164 7.317-.676 1.397-1.1 1.972-1.455 1.972-.07 0-.186.018-.256.04-.072.021-.266-.001-.435-.05zm-4.592-2.403c-.59-.171-1.017-.896-.846-1.44.04-.13.32-.737.617-1.345 1.265-2.578 1.79-5.34 1.532-8.054-.211-2.228-.61-3.635-1.617-5.692-.675-1.38-.706-1.593-.314-2.15.373-.527 1.305-.613 1.794-.164.34.31 1.395 2.515 1.802 3.762 1.348 4.13 1.142 8.562-.586 12.619-.884 2.077-1.505 2.72-2.382 2.464zm-4.737-2.436a1.43 1.43 0 01-.764-.94c-.052-.236.037-.5.47-1.377 1.592-3.221 1.609-6.325.052-9.471-.683-1.382-.698-1.658-.12-2.202.286-.27.406-.317.807-.317.671 0 1.02.338 1.62 1.57.923 1.896 1.301 3.542 1.298 5.65-.003 2.166-.357 3.653-1.342 5.653-.566 1.145-.845 1.447-1.41 1.525a1.335 1.335 0 01-.611-.091zm-4.42-2.27c-.289-.12-.619-.513-.717-.856-.11-.382-.02-.685.414-1.399.559-.918.689-1.41.689-2.61 0-1.201-.13-1.693-.689-2.612-.19-.31-.379-.684-.422-.828-.18-.606.324-1.348 1.002-1.474.573-.108.968.148 1.496.973 1.528 2.385 1.528 5.572-.001 7.937-.54.835-1.14 1.13-1.771.868z"
          fill="#fff" />
      </svg>
    </div>
  </div>

  <div class="half">
    <p class="card-number">{{ cardNumber }}</p>
    <div class="corners">
      <p class="card-corner">
        <span class="key">fullname</span>
        <span class="value truncate">
          {{ fullName || "Unknown" }}
        </span>
      </p>

      <p class="card-corner">
        <span class="key">expires</span>
        <span class="value"> {{ month }}/{{ year }} </span>
      </p>
    </div>
  </div>
</div>
