<div>
  <modal
    *ngIf="dialogTitle"
    [isVisible]="dialogVisibility"
    [title]="dialogTitle"
    [isError]="dialogError"></modal>

  <card
    [reversed]="reversed"
    [cardNumber]="cardNumber"
    [fullName]="cardHolder"
    [month]="getConvertedMonth()"
    [year]="getConvertedYear()"
    [crypto]="crypto"></card>

  <form (submit)="handleSubmit($event)">
    <field
      classes="row"
      style="margin-top: auto"
      id="cardHolder"
      label="Card Holder"
      placeholder="John Doe"
      (onInput)="setCardHolder($event)"
      (onFocus)="setReversed(false)"></field>

      <field
        classes="row"
        id="cardNumber"
        label="Card Number"
        placeholder="5678 1234 5678 1234"
        [maxLength]="19"
        (onInput)="setCardNumber($event)"
        (onFocus)="setReversed(false)"></field>

        <div class="field-group">
          <div class="field" style="width: 100px">
            <label for="expiresThru">Expires Thru</label>
            <selector
              defaultLabel="Month"
              ariaLabelledBy="expiresThru"
              (btnClick)="setReversed(false)"
              [options]="months"
              (optClick)="setMonth($event)"></selector>
          </div>

          <div class="field" style="width: 100px">
            <selector
              defaultLabel="Year"
              (btnClick)="setReversed(false)"
              [options]="years"
              (optClick)="setYear($event)"></selector>
          </div>

          <field
            style="width: 50px"
            id="crypto"
            label="CVV"
            placeholder="567"
            [maxLength]="3"
            (onInput)="setCrypto($event)"
            (onFocus)="setReversed(true)"></field>
        </div>

      <button class="submit" [disabled]="loading || !isValid()">
        {{ loading ? 'Loading' : 'Submit' }}
      </button>
  </form>
</div>
