<div [class]="'field ' + classes" [style]="style">
  <label *ngIf="label" [for]="id">{{ label }}</label>
  <input
    [id]="id"
    [name]="name || id"
    [type]="type"
    [placeholder]="placeholder"
    [attr.maxlength]="maxLength"
    (input)="handleInput($event)"
    (focus)="handleFocus($event)"
  />
</div>
