<div style="position: relative">
  <button
    class="selector"
    type="button"
    (click)="handleButton($event)"
    aria-haspopup="listbox"
    [attr.aria-expanded]="displayList"
    [attr.aria-labelledby]="ariaLabelledBy">
    {{ label || defaultLabel }}
    <svg
      width="16"
      height="16"
      fill="none"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 9l4-4 4 4m0 6l-4 4-4-4"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </button>

  <ul *ngIf="displayList" class="listbox" tabindex="-1" role="listbox">
    <li
      *ngFor="let option of options; let idx = index"
      [id]="'listbox-option-' + idx"
      class="option"
      [class.selected]="label === option"
      role="option"
      [attr.aria-selected]="label === option"
      (click)="handleOption(option)">
      {{ option }}
    </li>
  </ul>
</div>
